* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #000000;
}

#wrap {

}

#wrap > header {
    width: 100%;
    height: 170px;
}

#wrap > header > #title {
    position: relative;
    width: 100%;
    height: 100px;
}

#wrap > header > #title > #logo {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#wrap > header > #title > #util-menu {
    position: absolute;
    top: 50%; right: 50px;
    transform: translateY(-50%);
}

#wrap > header > #title > #util-menu > ul {
    position: relative;
    height: 40px;
}

#wrap > header > #title > #util-menu > ul > li {
    float: left;
    list-style: none;
    height: 100%; /* 40px */
    padding: 5px 0;
}

#wrap > header > #title > #util-menu > ul > li::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #666666;
    border-radius: 50px;
}

#wrap > header > #title > #util-menu > ul > li:last-child::after {
    display: none;
}  

#wrap > header > #title > #util-menu > ul > li > a {
    display: inline-block;
    height: 100%; /* 30px */
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    line-height: 30px;
    margin: 0 10px;
}

#wrap > header > nav {
    width: 100%;
    height: 70px;
}

#wrap > header > nav > .gnb {
    width: 100%;
    height: 100%;
}

nav > .gnb > ul {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

nav > .gnb > ul > li {
    float: left;
    list-style: none;
    width: 160px;
    height: 100%;
    text-align: center;
}

nav > .gnb > ul > li:hover > a {
    color: #009223;
}

nav > .gnb > ul > li:hover > .snb {
    display: inline-block;
}

nav > .gnb > ul > li > a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    line-height: 70px;
}

nav > .gnb > ul > li > .snb {
    display: none;
    width: 100%;
    height: 250px;
}

nav > .gnb > ul > li > .snb > ul {
    width: 100%;
    height: 100%;
}

nav > .gnb > ul > li > .snb > ul > li {
    width: 100%;
    height: 35px;
    list-style: none;
    text-align: center;
}

nav > .gnb > ul > li > .snb > ul > li:hover > a {
    text-decoration: underline;
    color: #009223;
    text-decoration-color: #009223;
}

nav > .gnb > ul > li > .snb > ul > li > a {
    display: inline-block;
    text-decoration: none;
    line-height: 35px;
    width: 100%;
    height: 100%;
}

#wrap > section {
    width: 100%;
    background-color: #f2f2f2;
}

section > .main {
    position: relative;
    width: 100%;
    height: 380px;
}

.main > .sub-header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.main > .sub-header.fixed {
    background-color: #ffffff;
}

.main > .sub-header > .sub-logo {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    display: none;
}

.main > .sub-header.fixed > .sub-logo {
    display: inline-block;
}

.main > .sub-header > .sub-menu {
    height: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.main > .sub-header > .sub-menu > ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main > .sub-header > .sub-menu > ul > li {
    position: relative;
    height: 100%;
    list-style: none;
}

.main > .sub-header > .sub-menu > ul > li.active > a {
    color: #ffce32; 
}

.main > .sub-header > .sub-menu > ul > li.active > a::after {
    position: absolute;
    left: 0; bottom: 0;
    content: '';
    display: inline-block;
    width: 65px;
    height: 4px;
    background-color: #ffce32;
}

.main > .sub-header > .sub-menu > ul > li::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 50px;
    margin:0 15px 4px;
}

.main > .sub-header > .sub-menu > ul > li:last-child::after {
    display: none;
}

.main > .sub-header > .sub-menu > ul > li > a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-weight: bold;
}

.main > .sub-header > .top {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    text-decoration: none;
    font-weight: bold;
    color: #bbbbbb;
    height: 26px;
    line-height: 26px;
    display: none;
}

.main > .sub-header.fixed > .top {
    display: inline-block;
}

.main > .sub-header > .top::before {
    position: absolute;
    top: -5px; left: 8px;
    content: '';
    display: inline-block;
    background-image: url(../image/icon/icon_arr_top.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 9px;
}

.main > .banner {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #e85a1c;
    text-align: center;
}

.main > .banner > h2 {
    position: relative;
    font-size: 70px;
    color: #ffffff;
    padding: 110px 0 20px;
    z-index: 2;
}

.main > .banner > p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    z-index: 2;
}

.main > .banner > .img {
    position: absolute;
    top: 0; left: 0;
    background-image: url(../image/banner/img_visual_sandwich.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
}

section > #menu-tab {
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: -40px;
}

section > #menu-tab > .content {
    position: relative;
    width: 1170px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 5px 5px #e6e6e6;
}

section > #menu-tab > .content > ul {
    display: inline-block;
    width: 620px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

section > #menu-tab > .content > ul > li {
    position: relative;
    list-style: none;
    float: left;
    padding: 20px;
    font-size: 16px;
    color: #666666;
}

section > #menu {
    width: 100%;
    padding: 45px 0 125px;
}

section > #menu > .content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

section > #menu > .content > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section > #menu > .content > ul > li {
    position: relative;
    list-style: none;
    width: 370px;
    height: 330px;
    background-color: #ffffff;
    margin: 15px 0;
}

section > #menu > .content > ul > li > a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
}

section > #menu > .content > ul > li > a > .label {
    position: absolute;
    top: 10px; left: 0;
    width: 70px;
    height: 30px;
    background-color: #ffc300;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
}

section > #menu > .content > ul > li > a > .img {
    width: 270px;
    height: 190px;
    margin: 0 auto;
}

section > #menu > .content > ul > li > a > .img > img {
    width: 100%;
    height: 100%;
}

section > #menu > .content > ul > li > a > .ko_title {
    display: block;
    color: #292929;
    font-size: 22px;
}

section > #menu > .content > ul > li > a > .en_title {
    display: block;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
}

section > #menu > .content > ul > li > a > .kcal {
    display: block;
    color: #ffc300;
    font-weight: bold;
}

section > #menu > .content > ul > li > a > .desc {
    display: none;
}

#wrap > footer { 
    width: 100%;
    height: 200px;
    background-color: yellow;
}
